.feature-cards-container {
  display: grid;
  gap: 3.5rem;
  padding: 5rem 2rem;
  max-width: var(--main-width);
  margin: 0 auto;
  text-align: center;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
    padding: 7.5rem 2.5rem;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 2rem;
    padding: 10rem 2.5rem;
  }
}

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  &__icon {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__description {
    opacity: 0.6;
    max-width: 21.875rem;
    margin: 0 auto;
  }
}
