.price-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.625rem;
  gap: 2rem;

  &__label {
    transition: opacity var(--anim);
    font-size: var(--lg);
    font-weight: var(--bold);
    opacity: 0.5;

    &--active {
      opacity: 1;
    }
  }

  &__switch {
    position: relative;
    width: 4rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: var(--gray);
    border: none;
    cursor: pointer;
    padding: 0;
    transition: background-color var(--anim), outline var(--anim);

    &:hover {
      background-color: black;

      .price-toggle__handle {
        background-color: white;
      }
    }

    &:focus {
      outline-offset: 3px;
      outline: 3px solid black;
    }
  }

  &__handle {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: black;
    border-radius: 50%;
    transition: transform var(--anim), color var(--anim);
  }

  &__switch--yearly &__handle {
    transform: translateX(2rem);
  }
}
