{% extends 'layouts/base.twig' %}

{% block content %}
{# Hero Section #}
{% include 'components/hero/hero.twig' with {
    image: 'images/features/desktop/hero.jpg',
    imageAlt: 'Person taking a photo with a vintage camera',
    title: 'Features',
    excerpt: 'We make sure all of our features are designed to be loved by every aspiring and even professional photographers who wanted to share their stories.',
    variant: 'side-by-side',
    backgroundColor: 'black',
    standout: true,
    short: true
  } %}

{# Features Section #}
<section class="features-section">
	<div class="feature-cards-container">
		{% set features = [
        {
          icon: 'images/features/desktop/responsive.svg',
          title: '100% Responsive',
          description: 'No matter which device you\'re on, our site is fully responsive and stories look beautiful on any screen.',
          width: 72,
          height: 72
        },
        {
          icon: 'images/features/desktop/no-limit.svg',
          title: 'No Photo Upload Limit',
          description: 'Our tool has no limits on uploads or bandwidth. Freely upload in bulk and share all of your stories in one go.',
          width: 72,
          height: 36
        },
        {
          icon: 'images/features/desktop/embed.svg',
          title: 'Available to Embed',
          description: 'Embed Tweets, Facebook posts, Instagram media, Vimeo or YouTube videos, Google Maps, and more.',
          width: 71,
          height: 72
        },
        {
          icon: 'images/features/desktop/custom-domain.svg',
          title: 'Custom Domain',
          description: 'With Photosnap subscriptions you can host your stories on your own domain. You can also remove our branding!',
          width: 81,
          height: 72
        },
        {
          icon: 'images/features/desktop/boost-exposure.svg',
          title: 'Boost Your Exposure',
          description: 'Users that viewed your story or gallery can easily get notified of new and featured stories with our built in mailing list.',
          width: 72,
          height: 72
        },
        {
          icon: 'images/features/desktop/drag-drop.svg',
          title: 'Drag & Drop Image',
          description: 'Easily drag and drop your image and get beautiful shots every time. No over the top tooling to add friction to creating stories.',
          width: 91,
          height: 72
        }
      ] %}

      {% for feature in features %}
        {% include 'components/feature-card/feature-card.twig' with feature %}
      {% endfor %}
    </div>
  </section>
{% endblock %}
