{% extends 'layouts/base.twig' %}

{% block content %}
	{# Hero Section #}
	{% include 'components/hero/hero.twig' with featuredStory %}

	{# Features Section #}
	<section class="features-section">
		<div class="feature-cards-container">
			{% for feature in features %}
				{% include 'components/feature-card/feature-card.twig' with feature %}
			{% endfor %}
		</div>
	</section>
{% endblock %}
