{% extends 'layouts/base.twig' %}

{% block content %}
	{# Heroes Section #}
	{% for hero in heros %}
		{% include 'components/hero/hero.twig' with hero %}
	{% endfor %}

	{# Stories Section #}
	<section class="stories-section full-width">
		<div class="story-cards-grid">
			{% for story in stories|slice(0, 4) %}
				{% include 'components/story-card/story-card.twig' with story %}
			{% endfor %}
		</div>
	</section>

	{# Features Section #}
	<section class="features-section">
		<div class="feature-cards-container">
			{% for feature in features|slice(0, 3) %}
				{% include 'components/feature-card/feature-card.twig' with feature %}
			{% endfor %}
		</div>
	</section>
{% endblock %}
