{% extends 'layouts/base.twig' %}

{% block content %}
	{# Hero Section #}
	{% include 'components/hero/hero.twig' with featuredStory %}

	{# Pricing Section #}
	<section class="pricing-section main-width">
		{% set isYearly = false %}
		{% include 'components/price-toggle/price-toggle.twig' with { isYearly: isYearly } %}

		<div class="pricing-cards">
			{% for price in prices %}
				{% include 'components/price-card/price-card.twig' with price|merge({ isYearly: isYearly }) %}
			{% endfor %}
		</div>

		<h2 class="section-title h1">Compare</h2>

		{% include 'components/feature-table/feature-table.twig' %}
	</section>

	{# Beta Section #}
	{% include 'components/beta-section/beta-section.twig' %}
{% endblock %}