{% extends 'layouts/base.twig' %}

{% block content %}
	{# Featured Story Hero #}
	{% include 'components/hero/hero.twig' with featuredStory %}

	{# Stories Section #}
	<section class="stories-section full-width">
		<div class="story-cards-grid">
			{% for story in stories %}
				{% include 'components/story-card/story-card.twig' with story %}
			{% endfor %}
		</div>
	</section>
{% endblock %}
