{% extends 'layouts/base.twig' %}

{% block content %}
	{# Featured Story Hero #}
	{% set featuredStory = {
    image: 'images/stories/desktop/moon-of-appalacia.jpg',
    title: 'Hazy full moon of Appalachia',
    author: 'John Doe',
    date: 'March 2nd 2020',
    href: '/dummy-link/',
    excerpt: 'The dissected plateau area, while not actually made up of geological mountains, is popularly called "mountains," especially in eastern Kentucky and West Virginia, and while the ridges are not high, the terrain is extremely rugged.'
  } %}

	{% include 'components/hero/hero.twig' with featuredStory|merge({
    variant: 'overlay',
    eyebrow: 'Last month\'s featured story',
    buttonText: 'Read the story',
    backgroundColor: 'black'
  }) %}

  {# Stories Grid #}
  <section class="stories-section full-width" data-featured>
    <div class="story-cards-grid">
      {% set stories = [
        {
          image: 'images/stories/desktop/mountains.jpg',
          title: 'The Mountains',
          author: 'John Appleseed',
          href: '/dummy-link/',
          date: 'April 16th 2020'
        },
        {
          image: 'images/stories/desktop/cityscapes.jpg',
          title: 'Sunset Cityscapes',
          author: 'Benjamin Cruz',
          href: '/dummy-link/',
          date: 'April 14th 2020'
        },
        {
          image: 'images/stories/desktop/18-days-voyage.jpg',
          title: '18 Days Voyage',
          author: 'Alexei Borodin',
          href: '/dummy-link/',
          date: 'April 11th 2020'
        },
        {
          image: 'images/stories/desktop/architecturals.jpg',
          title: 'Architecturals',
          author: 'Samantha Brooks',
          href: '/dummy-link/',
          date: 'April 10th 2020'
        },
        {
          image: 'images/stories/desktop/world-tour.jpg',
          title: 'World Tour 2019',
          author: 'Timothy Wagner',
          href: '/dummy-link/',
          date: 'April 9th 2020'
        },
        {
          image: 'images/stories/desktop/unforeseen-corners.jpg',
          title: 'Unforeseen Corners',
          author: 'William Malcolm',
          href: '/dummy-link/',
          date: 'April 8th 2020'
        },
        {
          image: 'images/stories/desktop/king-on-africa.jpg',
          title: 'King on Africa: Part II',
          author: 'Tim Hillenburg',
          href: '/dummy-link/',
          date: 'April 7th 2020'
        },
        {
          image: 'images/stories/desktop/trip-to-nowhere.jpg',
          title: 'The Trip to Nowhere',
          author: 'Felicia Rourke',
          href: '/dummy-link/',
          date: 'April 6th 2020'
        },
        {
          image: 'images/stories/desktop/rage-of-the-sea.jpg',
          title: 'Rage of The Sea',
          author: 'Mohammed Abdul',
          href: '/dummy-link/',
          date: 'April 5th 2020'
        },
        {
          image: 'images/stories/desktop/running-free.jpg',
          title: 'Running Free',
          author: 'Michelle Thomas',
          href: '/dummy-link/',
          date: 'April 4th 2020'
        },
        {
          image: 'images/stories/desktop/behind-the-waves.jpg',
          title: 'Behind the Waves',
          author: 'Lamarr Wilson',
          href: '/dummy-link/',
          date: 'April 3rd 2020'
        },
        {
          image: 'images/stories/desktop/calm-waters.jpg',
          title: 'Calm Waters',
          author: 'Samantha Brooke',
          href: '/dummy-link/',
          date: 'April 3rd 2020'
        },
        {
          image: 'images/stories/desktop/milky-way.jpg',
          title: 'The Milky Way',
          author: 'Benjamin Cruz',
          href: '/dummy-link/',
          date: 'April 2nd 2020'
        },
        {
          image: 'images/stories/desktop/dark-forest.jpg',
          title: 'Dark Forest',
          author: 'Mohammed Abdul',
          href: '/dummy-link/',
          date: 'April 1st 2020'
        },
        {
          image: 'images/stories/desktop/somwarpet.jpg',
          title: 'Somwarpet\'s Beauty',
          author: 'Michelle Thomas',
          href: '/dummy-link/',
          date: 'March 31st 2020'
        },
        {
          image: 'images/stories/desktop/land-of-dreams.jpg',
          title: 'Land of Dreams',
          author: 'William Malcolm',
          href: '/dummy-link/',
          date: 'March 30th 2020'
        }
      ] %}

	{% for story in stories %}
		{% include 'components/story-card/story-card.twig' with story %}
	{% endfor %}
</div></section>{% endblock %}
