:root {
  --gray-50: #f5f5f5;
  --gray: #dfdfdf;
  --gray-text: #757575;
  --gradient: #5a77ff 0%, #bc7198 50%, #ffc593 100%;
  --black: #000000;
  --white: #ffffff;
}

:root {
  --pad-sm: 1.25rem;
  --pad-md: 2.5rem;
  --pad-lg: 8rem;
  --pad-xl: 7.7rem;
  --content-width: 1110px;
  --full-width: 1440px;
  --height: 72px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: [full-start] minmax(0, 1fr) [main-start] min(1110px, 100%) [main-end] minmax(0, 1fr) [full-end];
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  justify-items: center;
}
.grid-container > * {
  grid-column: main-start/main-end;
  width: 100%;
}

.full-width {
  grid-column: full-start/full-end !important;
  width: 100%;
}
.full-width .content-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.main-width {
  grid-column: main-start/main-end !important;
  width: calc(100% - var(--pad-sm) * 2);
  padding-inline: var(--pad-sm);
}
@media (min-width: 768px) {
  .main-width {
    padding-inline: var(--pad-md);
  }
}
@media (min-width: 1024px) {
  .main-width {
    padding-inline: var(--pad-sm);
  }
}

:root {
  --font-primary: "DM Sans", sans-serif;
  --xxl: clamp(2rem, 3vw, 2.5rem);
  --xl: 1.5rem;
  --lg: 1.125rem;
  --sm: 0.75rem;
  --md: 0.9375rem;
  --xs: 0.625rem;
  --bold: 700;
  --regular: 300;
  --lh-xxl: 1.2;
  --lh-xl: 1.0416666667;
  --lh-lg: 1.3888888889;
  --lh-sm: 1.3333333333;
  --lh-md: 1.6666666667;
  --ls-xxl: 0.066875em;
  --ls-md: 0.0053333333em;
  --ls-sm: 0.1666666667em;
}

body,
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  font-weight: var(--bold);
  font-optical-sizing: auto;
  text-wrap: balance;
}

body {
  padding-top: var(--height);
  font-size: var(--md);
  font-weight: var(--regular);
  line-height: var(--lh-md);
  letter-spacing: var(--ls-md);
}

h1,
.h1 {
  font-size: var(--xxl);
  line-height: var(--lh-xxl);
  letter-spacing: var(--ls-xxl);
  text-transform: uppercase;
}

h2,
.h2 {
  font-size: var(--xl);
  line-height: var(--lh-xl);
}

h3,
.h3 {
  font-size: var(--lg);
  line-height: var(--lh-lg);
}

h4,
.h4 {
  font-size: var(--sm);
  line-height: var(--lh-sm);
  letter-spacing: var(--ls-sm);
  text-transform: uppercase;
}

.background--black {
  color: white;
}

.section-title {
  padding-block: var(--pad-lg);
  padding-bottom: 0;
  text-align: center;
}

:root {
  --anim: 0.3s ease;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  outline-offset: 0px;
  outline: 0px solid black;
}
ul a:focus {
  outline-offset: 3px;
  outline: 3px solid black;
}

.background--black {
  background-color: #000;
}

.skip-link {
  position: absolute;
  top: -100px;
  left: 0;
  background: black;
  color: white;
  padding: 1rem;
  z-index: 100;
  text-decoration: none;
}
.skip-link:focus {
  top: 0;
  outline-offset: 3px;
  outline: 3px solid white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.hero {
  display: grid;
  width: 100%;
  min-height: 650px;
  grid-template-rows: 375px 1fr;
  grid-template-columns: 1fr;
  overflow: hidden;
}
@media (min-width: 768px) {
  .hero {
    grid-template-rows: 1fr;
  }
  .hero.side-by-side {
    grid-template-columns: minmax(0, 495px) 1fr;
  }
  .hero.side-by-side:nth-child(2n) {
    grid-template-columns: 1fr minmax(0, 495px);
  }
  .hero.side-by-side:nth-child(2n) .imageContainer {
    order: 2;
  }
  .hero.side-by-side:nth-child(2n) .content {
    order: 1;
  }
  .hero.side-by-side.image-left .imageContainer {
    order: 1;
  }
  .hero.side-by-side.image-left .content {
    order: 2;
  }
  .hero.side-by-side.image-left:nth-child(2n) .imageContainer {
    order: 2;
  }
  .hero.side-by-side.image-left:nth-child(2n) .content {
    order: 1;
  }
  .hero.side-by-side.image-right .imageContainer {
    order: 2;
  }
  .hero.side-by-side.image-right .content {
    order: 1;
  }
  .hero.side-by-side.image-right:nth-child(2n) .imageContainer {
    order: 1;
  }
  .hero.side-by-side.image-right:nth-child(2n) .content {
    order: 2;
  }
  .hero.overlay {
    grid-template-columns: minmax(0, 610px) 1fr;
    grid-template-rows: 1fr;
  }
  .hero.overlay .imageContainer {
    grid-row: 1;
    grid-column: 1/-1;
  }
  .hero.overlay .content {
    grid-row: 1;
    grid-column: 1/2;
  }
}
@media (min-width: 1024px) {
  .hero.side-by-side {
    grid-template-columns: minmax(0, 610px) 1fr;
  }
  .hero.side-by-side:nth-child(2n) {
    grid-template-columns: 1fr minmax(0, 610px);
  }
}
.hero .button--secondary {
  justify-content: flex-start;
}
.hero.short {
  min-height: unset;
}
@media (min-width: 768px) {
  .hero.short {
    max-height: 490px;
  }
}

.content {
  display: flex;
  gap: 1.4rem;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: clamp(4.5rem, 10vw, 10rem) clamp(2rem, 9vw, 7rem);
}
@media (min-width: 768px) {
  .overlay .content {
    padding-right: 0;
  }
}
.content .standout-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.content .standout-content::before {
  --direction: 90deg;
  content: "";
  position: absolute;
  top: calc(-1 * clamp(4.5rem, 10vw, 10rem));
  left: 0;
  width: 128px;
  height: 6px;
  background: linear-gradient(var(--direction), var(--gradient));
}
@media (min-width: 768px) {
  .content .standout-content::before {
    --direction: 180deg;
    top: 0;
    left: calc(-1 * clamp(2rem, 9vw, 7rem));
    width: 6px;
    height: 100%;
  }
}
.content .meta {
  font-size: var(--sm);
}
.content .meta .date {
  margin-right: 8px;
  opacity: 0.6;
}
.content .excerpt {
  opacity: 0.6;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.imageContainer .heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay .button--secondary {
  background-color: transparent;
}

.button {
  font-size: var(--sm);
  font-weight: var(--bold);
  text-decoration: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  letter-spacing: var(--ls-sm);
  transition: color var(--anim), background-color var(--anim), outline var(--anim);
}
.button span {
  --color: black;
  margin-left: 1em;
  display: inline-block;
  width: 42px;
  height: 1px;
  position: relative;
  background-color: var(--color);
  transition: width var(--anim);
}
.button span::before {
  content: "";
  position: absolute;
  top: -4px;
  right: 1px;
  width: 8px;
  height: 8px;
  border-top: 1px solid var(--color);
  border-right: 1px solid var(--color);
  transform: rotate(45deg);
}
.button--primary {
  padding: 0.7817rem 1.5rem;
  background-color: black;
  color: white;
}
.button--primary:hover, .button--primary:focus-visible {
  background-color: var(--gray);
  color: black;
}
.button--primary:focus-visible {
  outline-offset: 3px;
  outline: 3px solid black;
}
.button--secondary {
  background-color: transparent;
  color: black;
}
.background--black .button--secondary {
  color: white;
}
.background--black .button--secondary span {
  --color: white;
}
.background--black .button--secondary:focus-visible {
  outline-offset: 3px;
  outline: 3px solid white;
}
.button--secondary:hover span, .button--secondary:focus-visible span {
  width: 52px;
}
.button--secondary:focus-visible {
  outline-offset: 3px;
  outline: 3px solid black;
}

.stories-section:not([data-featured]) .story-card .story-card__date {
  display: none;
}

.story-cards-grid {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 480px) {
  .story-cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .story-cards-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.story-card {
  position: relative;
  display: block;
  height: 375px;
  overflow: hidden;
}
.story-card a {
  color: white;
  text-decoration: none;
}
@media (min-width: 768px) {
  .story-card {
    height: 500px;
  }
}
.story-card::after {
  --direction: 360deg;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: linear-gradient(var(--direction), var(--gradient));
  transform: translateY(100%);
  opacity: 0;
  transition: all var(--anim);
}
.story-card__image-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.story-card__image {
  object-fit: cover;
  transition: all var(--anim);
  width: 100%;
  height: 100%;
}
.story-card:hover .story-card__image,
.story-card :focus-visible .story-card__image {
  transform: scale(1.02);
}
.story-card:hover::after,
.story-card :focus-visible::after {
  opacity: 1;
  transform: translateY(0);
}
.story-card__content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2.5rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
}
.story-card__date {
  font-size: var(--sm);
  margin-bottom: 0.25rem;
  opacity: 0.75;
}
.story-card__title {
  margin-bottom: 0.25rem;
}
.story-card__author {
  font-size: var(--sm);
  opacity: 0.75;
  margin-bottom: 1rem;
}
.story-card__divider {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  margin-bottom: 1rem;
}
.story-card__faux-button {
  color: white;
  width: 100%;
  justify-content: space-between;
}
.story-card__faux-button span {
  --color: white;
}

.feature-cards-container {
  --difference: 3.5rem;
  gap: var(--difference);
  display: grid;
  justify-items: center;
  padding: var(--pad-lg) var(--pad-sm);
  grid-template-columns: repeat(auto-fit, minmax(min(310px, 100%), 1fr));
}
.feature-cards-container .feature-card {
  max-width: 310px;
}
.feature-cards-container:not(:has(:nth-child(4))) {
  grid-template-columns: 1fr;
}
.feature-cards-container:not(:has(:nth-child(4))) .feature-card {
  max-width: 475px;
}
@media (min-width: 768px) {
  .feature-cards-container:not(:has(:nth-child(4))) {
    grid-template-columns: repeat(auto-fit, minmax(min(210px, 100%), 1fr));
  }
}
@media (min-width: 768px) {
  .feature-cards-container {
    --difference: 1.875rem;
    row-gap: 5rem;
    padding-block: var(--pad-xl);
  }
  .feature-cards-container .feature-card {
    max-width: 350px;
  }
}
@media (min-width: 1024px) {
  .feature-cards-container {
    row-gap: 6.5rem;
  }
}

.feature-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.feature-card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
}
.feature-card__title {
  font-size: var(--lg);
  color: var(--color-text);
}
.feature-card__description {
  font-size: var(--sm);
  line-height: 1.5;
  opacity: 0.6;
}

.pricing-section {
  padding-block: var(--pad-lg);
}
@media (min-width: 768px) {
  .pricing-section {
    --difference: 1.875rem;
  }
}

.pricing-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .pricing-cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
    align-items: center;
  }
}

.price-card {
  position: relative;
  background-color: var(--gray-50);
  padding: 3.5rem 1.25rem 2.5rem 1.25rem;
  text-align: center;
}
@media (min-width: 768px) {
  .price-card {
    padding: 2.5rem;
  }
}
@media (min-width: 1024px) {
  .price-card {
    padding: 3.5rem 2.5rem 2.5rem;
  }
}
.price-card--popular {
  background-color: black;
  color: white;
  height: 100%;
}
.price-card--popular .button--primary {
  background-color: white;
  color: black;
}
.price-card--popular .button--primary:hover {
  background-color: var(--gray);
}
.price-card--popular .button--primary:focus-visible {
  outline-offset: 3px;
  outline: 3px solid white;
}
@media (min-width: 1024px) {
  .price-card--popular {
    padding-block: calc(3.5rem + 22px);
  }
}
.price-card--popular::before {
  --direction: -92deg;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: linear-gradient(var(--direction), var(--gradient));
}
@media (min-width: 480px) and (max-width: 768px) {
  .price-card--popular::before {
    width: 6px;
    height: 100%;
  }
}
.price-card--popular .price-card__button {
  background-color: white;
  color: black;
}
.price-card__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "title" "description" "price-container" "button";
}
@media (min-width: 480px) and (max-width: 768px) {
  .price-card__content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "title price-container" "description price-container" "button .";
  }
  .price-card__content .price-card__title,
  .price-card__content .price-card__description {
    text-align: left;
  }
  .price-card__content .price-card__price-container {
    margin: 0;
    text-align: right;
  }
  .price-card__content .price-card__button {
    margin-top: 2.5rem;
  }
}
.price-card__title {
  grid-area: title;
  font-size: var(--xl);
  margin-bottom: 1.25rem;
}
.price-card__description {
  grid-area: description;
  font-size: var(--sm);
  opacity: 0.6;
}
.price-card__price-container {
  grid-area: price-container;
  margin-block: 2.5rem;
}
.price-card__price {
  font-size: var(--xxl);
  line-height: 1;
  font-weight: bold;
}
.price-card__period {
  font-size: var(--sm);
  opacity: 0.6;
}
.price-card__button {
  grid-area: button;
  width: 100%;
}
.price-card__button:hover {
  background-color: var(--gray);
  color: black;
}

.price-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.625rem;
  gap: 2rem;
}
.price-toggle__label {
  transition: opacity var(--anim);
  font-size: var(--lg);
  font-weight: var(--bold);
  opacity: 0.5;
}
.price-toggle__label--active {
  opacity: 1;
}
.price-toggle__switch {
  position: relative;
  width: 4rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: var(--gray);
  border: none;
  cursor: pointer;
  padding: 0;
  transition: background-color var(--anim), outline var(--anim);
}
.price-toggle__switch:hover {
  background-color: black;
}
.price-toggle__switch:hover .price-toggle__handle {
  background-color: white;
}
.price-toggle__switch:focus {
  outline-offset: 3px;
  outline: 3px solid black;
}
.price-toggle__handle {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: black;
  border-radius: 50%;
  transition: transform var(--anim), color var(--anim);
}
.price-toggle__switch--yearly .price-toggle__handle {
  transform: translateX(2rem);
}

.feature-table {
  width: 100%;
  overflow-x: auto;
  margin: 2rem 0;
}
.feature-table table {
  width: 100%;
  border-collapse: collapse;
}
.feature-table thead tr {
  border-bottom: 2px solid black;
}
@media (max-width: 480px) {
  .feature-table thead tr th:not(:first-child) {
    display: none;
  }
}
.feature-table tbody tr {
  border-bottom: 1px solid var(--gray);
}
@media (max-width: 480px) {
  .feature-table tbody tr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .feature-table tbody tr td {
    padding: 0 0 1rem;
  }
  .feature-table tbody tr td:first-child {
    grid-column: 1/-1;
    border-bottom: none;
    padding: 1rem 0;
  }
  .feature-table tbody tr td > div {
    opacity: 0.5;
    font-size: var(--xs);
    font-weight: var(--bold);
    text-transform: uppercase;
    margin-bottom: 4px;
  }
}
@media (min-width: 480px) {
  .feature-table tbody tr td > div {
    display: none;
  }
}
.feature-table th,
.feature-table td {
  padding: 1.5rem 1rem;
  text-align: left;
}
@media (min-width: 480px) {
  .feature-table th:not(:first-child),
  .feature-table td:not(:first-child) {
    width: 13.3333333333%;
    text-align: center;
  }
  .feature-table th:not(:first-child) img,
  .feature-table td:not(:first-child) img {
    margin-inline: auto;
  }
}
.feature-table th {
  font-weight: bold;
  font-size: var(--sm);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.feature-table td {
  font-size: var(--sm);
}
.feature-table td:first-child {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: var(--ls-sm);
}
.feature-table td img {
  display: block;
}
.feature-table tr:last-child td {
  border-bottom: none;
}
@media (max-width: 480px) {
  .feature-table {
    margin: 1rem 0;
  }
  .feature-table th,
  .feature-table td {
    padding: 1rem 0.5rem;
  }
}

.beta-section {
  color: white;
  background-image: url("../images/shared/desktop/bg-beta.jpg");
  background-size: cover;
  background-position: center;
  padding-block: clamp(4rem, 8vw, 5rem);
}
.beta-section .button--secondary {
  background-color: transparent;
}
.beta-section .button--secondary:focus {
  outline-offset: 3px;
  outline: 3px solid white;
}
.beta-section .container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  align-items: center;
}
@media (min-width: 768px) {
  .beta-section .container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    gap: 2rem;
  }
}
.beta-section h2 {
  font-size: clamp(2rem, 4vw, 2.5rem);
  line-height: 1.2;
  letter-spacing: 0.208rem;
  text-transform: uppercase;
  max-width: 400px;
}

.hamburger, .logoLink {
  padding: 1rem;
  margin: -1rem;
}

.nav {
  height: var(--height);
  top: 0;
  left: 0;
  right: 0;
  background: white;
  position: fixed;
  z-index: 10;
}

.navContainer {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logoLink {
  line-height: 0;
  position: relative;
  transition: outline var(--anim);
}
.logoLink:focus {
  outline-offset: 3px;
  outline: 3px solid black;
}
.logoLink svg {
  position: relative;
  z-index: 5;
}
.logoLink::after {
  content: "";
  display: block;
  width: 100%;
  height: var(--height);
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 4;
}
@media (min-width: 768px) {
  .logoLink::after {
    display: none;
  }
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: grid;
  gap: 4px;
  position: relative;
  z-index: 5;
}
.hamburger span {
  display: block;
  width: 20px;
  height: 1px;
  background-color: black;
  transition: transform var(--anim);
}
.hamburger.open span:first-child {
  transform: rotate(45deg) translate(4px) translate(-2px, 2px);
}
.hamburger.open span:last-child {
  transform: rotate(-45deg) translate(4px) translate(-2px, -2px);
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  transition: transform var(--anim);
  top: var(--height);
  left: calc(0% - var(--pad-sm));
  width: calc(100% + var(--pad-sm) * 2);
  background-color: white;
  transform: translateY(calc(-100% - var(--height)));
  padding: 0 var(--pad-sm) 2rem;
  position: absolute;
  z-index: 3;
}
.menuContainer.open {
  transform: translateY(0);
}
.menuContainer .inviteButton {
  font-size: var(--sm);
  inline-size: clamp(0px, 100%, 310px);
}
@media (min-width: 768px) {
  .menuContainer {
    flex-direction: row;
    gap: 0;
    padding: 0;
    position: static;
    transform: translateY(0);
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
  }
  .menuContainer .menu {
    margin: 0 auto;
  }
  .menuContainer .inviteButton {
    inline-size: auto;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  list-style: none;
  inline-size: clamp(0px, 100%, 310px);
  padding-bottom: 1.25rem;
  border-bottom: solid 1px var(--gray);
}
.menu a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 2px;
  font-weight: 700;
}
.menu a:hover {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .menu {
    flex-direction: row;
    gap: 2rem;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.footer {
  color: white;
  padding-block: clamp(3.5rem, 5vw, 4rem);
}
.footer .container {
  display: grid;
  grid-template-columns: 1fr;
}
.footer .container .col {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.footer .container .logoSection a {
  transition: outline var(--anim);
  outline-offset: 3px;
  outline: 3px solid transparent;
}
.footer .container .logoSection a:focus-visible {
  outline-offset: 3px;
  outline: 3px solid white;
}
@media (min-width: 768px) {
  .footer .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer .container .col:first-of-type {
    justify-items: start;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    align-items: center;
  }
  .footer .container .col:first-of-type .logoSection {
    order: 1;
  }
  .footer .container .col:first-of-type .socialLinks {
    order: 3;
  }
  .footer .container .col:first-of-type .pageLinks {
    order: 2;
  }
  .footer .container .col:last-child {
    justify-items: end;
    height: 100%;
    grid-template-rows: auto 1fr auto;
    justify-content: end;
  }
  .footer .container .col:last-child .inviteButton {
    align-self: start;
    justify-content: end;
  }
  .footer .container .col:last-child .copyright {
    align-self: end;
  }
}
@media (min-width: 1024px) {
  .footer .container .col:first-of-type {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  .footer .container .col:first-of-type .logoSection {
    align-self: start;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .footer .container .col:first-of-type .pageLinks {
    grid-column: 2/-1;
    grid-row: 1/-1;
  }
  .footer .container .col:first-of-type .socialLinks {
    align-self: end;
    grid-column: 1/2;
    grid-row: 2/-1;
  }
}
.footer .inviteButton {
  font-size: var(--sm);
  transition: outline var(--anim);
}
.footer .inviteButton:focus {
  outline-offset: 3px;
  outline: 3px solid white;
}

.logoSection {
  margin-bottom: 2rem;
}
.logoSection svg #PHOTOSNAP {
  fill: white;
}

.socialLinks {
  margin-bottom: 3.125rem;
}
.socialLinks ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.socialLinks a {
  color: white;
  font-size: 1.25rem;
  transition: color var(--anim), outline var(--anim);
}
.socialLinks a:focus {
  outline-offset: 3px;
  outline: 3px solid white;
}
.socialLinks a:hover {
  color: #dfdfdf;
}
@media (min-width: 768px) {
  .socialLinks {
    margin-bottom: 0;
  }
}

.pageLinks {
  margin-bottom: 7.5rem;
}
.pageLinks ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.pageLinks ul a {
  color: white;
  text-transform: uppercase;
  font-size: var(--sm);
  letter-spacing: var(--ls-sm);
  transition: outline var(--anim);
}
.pageLinks ul a:hover {
  color: var(--gray);
}
.pageLinks ul a:focus {
  outline-offset: 3px;
  outline: 3px solid white;
}
@media (min-width: 768px) {
  .pageLinks {
    margin-bottom: 4.5rem;
  }
  .pageLinks ul {
    flex-direction: row;
    gap: 1.625rem;
    text-align: start;
  }
}
@media (min-width: 1024px) {
  .pageLinks {
    margin-bottom: 0;
  }
  .pageLinks ul {
    flex-direction: column;
  }
}

.copyright {
  margin-top: 2.125rem;
}
.copyright p {
  opacity: 0.5;
}

body,
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  font-weight: var(--bold);
  text-wrap: balance;
}

body {
  padding-top: var(--height);
  font-size: var(--md);
  font-weight: var(--regular);
  line-height: var(--lh-md);
  letter-spacing: var(--ls-md);
}

h1,
.h1 {
  font-size: var(--xxl);
  line-height: var(--lh-xxl);
  letter-spacing: var(--ls-xxl);
  text-transform: uppercase;
}

h2,
.h2 {
  font-size: var(--xl);
  line-height: var(--lh-xl);
}

h3,
.h3 {
  font-size: var(--lg);
  line-height: var(--lh-lg);
}

h4,
.h4 {
  font-size: var(--sm);
  line-height: var(--lh-sm);
  letter-spacing: var(--ls-sm);
  text-transform: uppercase;
}

.background--black {
  color: white;
}

.section-title {
  padding-block: var(--pad-lg);
  padding-bottom: 0;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.skip-link {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--black);
  color: var(--white);
  padding: 0.5rem 1rem;
  z-index: 100;
  text-decoration: none;
}
.skip-link:focus {
  top: 0;
}

/*# sourceMappingURL=main.css.map */
