<nav class="navbar">
  <div class="logo">
    <a href="/">Photosnap</a>
  </div>
  <div class="nav-links">
    <a href="/stories">Stories</a>
    <a href="/features">Features</a>
    <a href="/pricing">Pricing</a>
  </div>
</nav>
