:root {
  --gray-50: #f5f5f5;
  --gray: #dfdfdf;
  --gray-text: #757575; // More accessible than opacity
  --gradient: #5a77ff 0%, #bc7198 50%, #ffc593 100%;

  --black: #000000;
  --white: #ffffff;
}
