:root {
  --anim: 0.3s ease;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    outline-offset: 0px;
    outline: 0px solid black;

    &:focus {
      outline-offset: 3px;
      outline: 3px solid black;
    }
  }
}

.background--black {
  background-color: #000;
}

.skip-link {
  position: absolute;
  top: -100px;
  left: 0;
  background: black;
  color: white;
  padding: 1rem;
  z-index: 100;
  text-decoration: none;

  &:focus {
    top: 0;
    outline-offset: 3px;
    outline: 3px solid white;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
